--extra-index-url https://download.pytorch.org/whl/cpu

numpy==1.26.4
pandas==2.2.3
scipy==1.14.1
sbi==0.24.0
torch==2.5.1; platform_system == "Darwin"
torch==2.5.1+cpu; platform_system != "Darwin"
pytest==8.3.5
